<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!-- <bean id="movie" class="com.suraj.spring.beans.Movie"> <property name="movieName" 
		value="Bahubali"></property> <property name="song" ref="song"></property> 
		<property name="movieNames"> <list> <value>Krodh</value> <value>Dil</value> 
		<value>Hogi Pyar Ki Jeet</value> </list> </property> </bean> <bean id="song" 
		class="com.suraj.spring.beans.Song" /> -->

	<bean id="movie" class="com.suraj.spring.beans.Movie" p:movieName="Raanjhna"
		p:song-ref="song" p:movieNames-ref="movieList" />
	<util:list id="movieList">
		<value>Krodh</value>
		<value>Dil</value>
		<value>Hogi Pyar Ki Jeet</value>
	</util:list>
	<bean id="song" class="com.suraj.spring.beans.Song" />


</beans>